@model IEnumerable<EventQR.Models.EventGuest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_OrganizerLayout.cshtml";
    ViewBag.activeTabName = "thisEventGuests";
    string ticketLink;
}@await Html.PartialAsync("_eventPartial")


<link href="~/uitemplate/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />

<div class="content">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6"><h4>Guest List</h4></div>
                <div class="col-6">
                    <a href="/EventOrganizer/EventGuests/Create" class="float-right">
                        <button type="button" class="btn btn-primary">Add New</button>
                    </a>
                </div>
            </div>
            <br>
            <table class="table" id="tblGuestList">
                <thead>
                    <tr>
                        <th>  @Html.DisplayNameFor(model => model.Name) </th>
                        <th> @Html.DisplayNameFor(model => model.MobileNo1) </th>
                        <th>  @Html.DisplayNameFor(model => model.MobileNo2) </th>
                        <th>   @Html.DisplayNameFor(model => model.Email) </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Name) </td>
                            <td> @Html.DisplayFor(modelItem => item.MobileNo1)  </td>
                            <td> @Html.DisplayFor(modelItem => item.MobileNo2) </td>
                            <td> @Html.DisplayFor(modelItem => item.Email) </td>
                            <td>
                                <a asp-action="Create" asp-route-id="@item.UniqueId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.UniqueId">Delete</a> |
                                <a asp-action="ShowMyTicket" asp-route-guestId="@item.UniqueId" asp-route-eventId="@item.EventId" target="_blank">Ticket </a> |
                                <a asp-action="Invitation" asp-route-guestId="@item.UniqueId" asp-route-eventId="@item.EventId" target="_blank">Invitation </a> |
                                @* <a  asp-area="Scanner" asp-controller="CheckIn" asp-action="AllowGuest" asp-route-guestId="@item.UniqueId" asp-route-eventId="@item.EventId" target="_blank">Scan QR </a> |
                            *@   <a href="/Scanner/CheckIn/AllowGuest/@EventQR.Common.Static.Variables.Encrypt( @item.UniqueId +","+ @item.EventId)" target="_blank">Scan QR </a> |
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


@section Scripts {
    <!-- DataTable -->
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/uitemplate/admintemp/dist/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblGuestList').DataTable()

        });
    </script>
}