@model EventQR.Models.TicketScanner

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_OrganizerLayout.cshtml";
    ViewBag.activeTabName = "thisEventScanner";

}

<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="modal-body">
                
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UserLoginId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UserLoginId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Event.UniqueId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedData)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedData)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LastUpdatedData)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LastUpdatedData)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UniqueId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
</div>
</div>
