@model EventQR.Models.SubEvent

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_OrganizerLayout.cshtml";
    ViewBag.activeTabName = "thisEventSubEvents";

}@await Html.PartialAsync("_eventPartial")






<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="modal-body">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Event.UniqueId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.SubEventName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SubEventName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UniqueId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

            </div>
            </div>
            </div>
            </div>